.edit-image-main {
  display: flex;
  gap: 20px;
  height: 100vh;
  justify-content: center;
  border: black 2px solid;
}

.edit-image-container {
  flex: 1;
  position: relative;
  display: flex;
  
  justify-content: center;
  align-items: center;
}
.icon-active{
  color:red;
}
.annotations-sidebar {

  padding: 10px;
 flex:1;
  justify-content: center;
  display: flex;
  padding-top: 40px;
  /* box-shadow: -20px -0px 10px rgba(126, 123, 123, 0.8); */
  background-color: black;
  color:white;
}

.annotations-sidebar-div {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:40px;
  cursor: pointer;
}
.rectangle-checkBox{
  display: flex;
  gap:10px;
  align-items: center;
}
.download-box {
  font-size: 50px;
  cursor: pointer;
  
}

.overlay-tools {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 6px;
  
  
  
  border-radius: 6px;
}

.overlay-tools input {
  
  border-radius: 4px;

  background-color: transparent;
  font-size: 13px;

}
.rectangle-icon{
  display: flex;
  font-size: 50px;
}
.download-section{
  display: flex;
  gap:10px;
  align-items: center;
}
.delete-annotation {
  font-size: 30px;
  
  color: #ff3333;

}
.delete-container{
  display: flex;
justify-content: center;
  gap:20px;
  cursor: pointer;
  font-size: 25px;
  align-items: center;


}