.image-uploader{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 200px;
    color:rgb(0, 0, 0);
    border: black dashed 2px;
    backdrop-filter: blur(60px); 
  background: rgb(255, 255, 255); 
     align-items: center;
}
.file-choose-icon{
    font-size:39px;
    color:rgb(0, 0, 0);
    top:-2px;
    position: absolute;
    left: -39px;
    cursor: pointer;

}
.file-choose-container{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding:0px 3px 0px 3px;
    font-size: 30px;
    cursor: pointer;
    color:rgb(0, 0, 0);
    border-radius: 5px;

    flex-direction: row;
    gap:10px;
    position: relative;
    align-items: center;
}
.image-uploader-container{
   
   align-items: center;
    padding: 20px;
    display: flex;
   gap:10px;
    flex-direction: row;
 
}
.image-uploader-file-input{
    color:rgb(0, 0, 0);
}
.image-uploader-url{
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    object-fit: contain;
    border-radius: 10px;
}
.image-uploader-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-uploader-btn{
    width: 50px;
    height: 30px;
    color:rgb(0, 0, 0);
    cursor: pointer;
}
.image-uploader-btn:hover{
    color:rgb(206, 193, 176);
}
.choose-btn{
    cursor: pointer;
}
.file-choose-container:hover{
    background-color:rgb(21, 21, 22);
    color:white;
    transition:  all 0.5s;
}
.file-choose-container:hover .file-choose-icon{
    color:rgb(5, 5, 5);
    transition: all 0.5s;
}