.image-container{
    display: flex;
    flex-direction: row;
    gap:20px;
   align-items: center;
   justify-content: center;
    flex-wrap: wrap;

    
    
}
.image-size-outerdiv{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.image-size-div{
    border:black solid 2px;
    background-color: rgb(12, 12, 12);
    width: 100%;
    color:white;
    padding: 10px;
   justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.image-size-div div{
    padding: 10px;
    width: 100%;
    text-align: center;
    
}
.image-size-div :first-child{
    border-bottom: white 2px solid;
     
    align-items: center;

}
.image-container-inner{
    position: relative;
}
.image-view{
    width: 500px;
    height: 500px;
    cursor: pointer;
    object-fit: contain;
    border:solid 2px black;
    border-radius: 20px;
}
.delete-icon{
position: absolute;
top:10px;
right: 10px;
cursor: pointer;
font-size: 26px;
}
.edit-icon{
position: absolute;
top:40px;
right: 10px;
cursor: pointer;
font-size: 20px;
}
.delete-icon:hover{
    color: red;
}
.edit-icon:hover{
    color: rgb(50, 76, 193);
}